 .integral {
            display: inline-flex;
            align-items: center;
            height: 100px;
            /* width: 200px; */
            outline: 1px solid #ccc;
            padding-right: 20px;
        }
        .integral__signal {
            font-size: 3em;
        }
        .integral__range {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 60%;
            transform: translateX(-10px);
        }